
$color-1: #edfafd; // Glass - (very light grey)
$color-2: #aed9da; // Chill (frosted mint)
$color-3: #3ddad7; // Californian Coral (turquoise)
$color-4: #2a93d5; // Bondi Blue (medium blue)
$color-5: #135589; // Marina ( bold blue)
$color-6: #ff6435; // Starfish (coral)
