
$color-1: #edfafd; // sky (top of site)
$color-2: #aed9da; // Chill (frosted mint)
$color-3: #3ddad7; // Turquoise (bottom of ocean/lighter text)
$color-4: #2a93d5; // Bondi Blue (medium blue)
$color-5: #135589; // Deep blue (top of ocean/darker text)
$color-6: #ff6435; // Orange (contrast color)
$color-7: #ffffff; // White (clouds)
$color-8: #B7B089; // Sand (top of beach)
$color-9: #5C5845; // Dark Brown (bottom of beach)
