h2 > abbr{
    background-image: url("./icons/sun.svg");
    z-index: 1000;
    background-repeat: no-repeat;
        
}

footer {
    a{
    background-image: url("./icons/seashell.svg");
    background-repeat: no-repeat;
    }
}
.summary{
    background-image: url("./icons/kite.svg");
    background-repeat: no-repeat;
}