
h2 abbr{
    color: transparent;
}
footer {
    a{
    width: 100px;
    height: 100px;
    background-image: url("./icons/seashell.svg");
    background-repeat: no-repeat;
    }

    a{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    a:hover{
        transform-origin: 50% 50%;
        animation: 1s main 1;
    }
}
//shell animation
@keyframes main {
  0% {
    transform: rotate(35deg);
  }
  25% {
    transform: rotate(-35deg);
  }
  50% {
    transform: rotate(45deg);
  }
  75% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

// KITE ICON
.extra4{
    width: 500px;
    height: 250px;
    background-image: url("./icons/kite.svg");
    background-repeat: no-repeat;
    background-position: cover;
    animation:moveKite 10s ease-in-out infinite;
    transform-origin: 60% bottom;
    position: absolute;
    z-index: 1;
    margin-top: -1500px;
}
@keyframes moveKite {
    0%{
        transform: translate(0px, 0px);
    }

    10%{
        transform: translate(20px, -15px);
    }
    20% {
        transform: translate(5px, -10px);
    }
   30%{
     transform: translate(80px, -80px);
   }
   40% {
        transform: translate(5px, -10px);
    }
   50% {
        transform: translate(-95px, -40px);
    }
   60%{
     transform: translate(-20px, -5px);
   }
   70%{
     transform: translate(10px, 15px);
   }
   80%{
     transform: translate(10px, 15px);
   }
   90%{
     transform: translate(10px, 15px);
   }
    100% {
        transform: translate(0px, 0px);

    }

}


//BOAT ICON
.extra2{
    width: 200px;
    height: 200px;
    background-image: url("./icons/boat.svg");
    background-repeat: no-repeat;
    margin-top: -1100px;
    margin-left: 1200px;
    position: absolute;
}

//WHITE CLOUD ICON
header h1{
    width: 800px;
    height: 300px;
    background-image: url("./icons/cloud.svg");
    background-repeat: no-repeat;
//    margin-top: -1660px;
//    margin-left: -150px;
    filter: drop-shadow(0 0 8px #C7C7C7);
}
//BLUE CLOUD ICON
header h2{
    width: 1300px;
    height: 500px;
    background-image: url("./icons/cloud-2.svg");
    background-repeat: no-repeat;
}

////animation
// ANIMATION ON WHITE CLOUD
body:hover header h1{
    transform: translateX(450px);
    -webkit-transform: translatex(450px);

}
header h1{
    transition: all 4s linear;
    margin-left: -150px;
    margin-top: -20px;
}

// ANIMATION ON BLUE CLOUD
header h2{
     transition: all 4s linear;
     margin-left: 850px;
     margin-top: -250px;
}
body:hover header h2{
    transform: translateX(-350px);
    -webkit-transform: translatex(-350px);

}
//animation only not on small screen
@media screen and (min-width: $M) {
  //RED FISH ICON
  .extra3{
    width: 300px;
    height: 250px;
    background-image: url("./icons/fish-02.svg");
    background-repeat: no-repeat;
    margin-top: 700px;
    margin-left: 700px;
  }
  //FISH ICON
  .extra1{
    width: 200px;
    height: 200px;
    background-image: url("./icons/fish-01.svg");
    background-repeat: no-repeat;
    margin-top: -775px;
    margin-left: 400px;
  }
}

//animation on small screen
@media screen and (max-width: $M) {
    //blue cloud
    header h2{
     margin-left: 50vw;
        margin-top: -170px;
     height: 300px;
    transition: all 1s linear;

}
    body:hover header h2{
    transform: translateX(-100px);
    -webkit-transform: translatex(-100px);

}
    //white cloud
    header h1{
    margin-left: -10vh;
    transition: all 1s linear;


}
    body:hover header h1{
    transform: translateX(100px);
    -webkit-transform: translatex(100px);

}

}
