//Grid for top section*/

.intro {
    height: 100%;
    display: grid;
    grid-template-columns: repeat($maxcol, auto);
    grid-template-rows: repeat(5, auto);
    background-color: $color-1;
}

//
//code for mobile view
//
@media screen and (max-width: $M) {
    #zen-intro header {
        grid-column-start: 2;
        grid-column-end: span 8;
        // background-color: $color-2;
        // border: 3px solid purple;
        // border-radius: 10px;
    }

    header h1 {
        grid-column-start: 3;
        grid-column-end: 6;
        // border: 3px solid purple;
        // border-radius: 10px;
        // background-color: $color-7;
        color: transparent;
    }

    header h2 {
        grid-column: span 1/8;
        // border: 3px solid purple;
        // border-radius: 10px;
        // // background-color: $color-3;
        // background-color: hsla(180,50%,50%,.3);
//        text-align: middle;
        color: transparent;
    }

    #zen-summary {
        grid-row-start: 3;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: span 6;
        // border: 3px solid purple;
        // border-radius: 10px;
        text-align: center;
      //Diana added this
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        padding-top: 300px;
    }
    .summary{
        width: 300px;
    }
}


//Code for larger screens
@media screen and (min-width: $M) {

    /* specific divs */
    #zen-intro header {
        grid-column-start: 1;
        grid-column-end: span 8;
        // border: 3px solid purple;
        // border-radius: 10px;
    }

    header h1 {
        height: 3em;
        width: 30%;
        margin: 5% 5% 0% 15%;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        border-radius: 40px;
        // border: 3px solid purple;
//        color: $color-5;
        color: transparent;

    }

    header h2 {
        height: 3em;
        width: 60%;
        margin: 0% 5% 5% 30%;
        display: flex;
        flex-wrap: wrap;
        // border: 3px solid purple;
        border-radius: 15px;
//        background-color: $color-3;
//        background-color: hsla(180, 50%, 50%, .3);
        text-align: center;
        vertical-align: middle;
        color: transparent;
    
    }

    #zen-summary {
        grid-row-start: 3;
        grid-row-end: 2;
        //grid-column-start: 4;
        grid-column-start: 2;
        grid-column-end: span 4;
        // border: 3px solid purple;
        // border-radius: 10px;
        text-align: center;
        padding-left: 440px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        padding-top: 30px;
    
    }
}
