// breakpoints
$M:     768px;
$D:     1024px;

// media queries
@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; }
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; }
  }
}

// super light grid -
.page-wrapper{
  height: 100%;
  display: grid;
  grid-template-columns: repeat(8 auto);
  grid-template-rows: repeat (50 auto);
}
