.page-wrapper {
  background-image: linear-gradient(to bottom, $color-3, $color-1);
}

.main {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(8, auto);
}

@media screen and (min-width: $M) {
/* specific divs */
  #zen-preamble {
    grid-row: 3;
    grid-column: 1 / span 8;
    margin: auto;
    width: 100%;
    padding: 20px 10px 0px 10px;
  }
  #zen-preamble h3 {
    text-align: left;
    background-color: $color-5;
    color: $color-1;
    margin: 20px 15% 0% 15%;
  }
  .preamble p:nth-child(2) {
    background-color: $color-4;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%;
  }
  .preamble p:nth-child(3) {
    background-color: $color-4;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%;
  }
  .preamble p:nth-child(4) {
    background-color: $color-4;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%;
  }

  #zen-explanation {
    grid-row: 4 / span 10;
    grid-column: 1;
    grid-column-end: span 2;
    border: 3px solid green;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
  }
  #zen-participation {
    grid-row-start: 4;
    grid-row-end: span 9;
    grid-column: 3;
    grid-column-end: span 2;
    border: 3px solid green;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
  }
  #zen-requirements {
    grid-row-start: 4;
    grid-row-end: span 15;
    grid-column: 6;
    grid-column-end: span 2;
    border: 3px solid green;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
  }
  #zen-benefits {
    grid-row-start: 14;
    grid-row-end: span 5;
    grid-column: 1;
    grid-column-end: span 2;
    border: 3px solid green;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
  }
  footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    grid-row: 19;
    grid-column: 1 / span 8;
    border: 3px solid green;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
  }
}
@media screen and (max-width: $M) {
  #zen-intro header {
    grid-row: 1;
    grid-column: 1 / span 8;
  }

  #zen-summary {
    grid-row-start: 2;
    grid-column: 1 / span 8;
  }

  #zen-preamble {
    grid-row: 3;
    grid-column: 1 / span 8;
    margin: auto;
    width: 100%;
    padding: 20px 10px 0px 10px;
  }
  #zen-preamble h3 {
    text-align: center;
    background-color: $color-5;
    color: $color-1;
    margin: 20px 15% 0% 15%;
  }
  .preamble p:nth-child(2) {
    background-color: $color-4;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%;
  }
  .preamble p:nth-child(3) {
    background-color: $color-4;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%;
  }
  .preamble p:nth-child(4) {
    background-color: $color-4;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%;
  }
  #zen-explanation {
    grid-row: 4;
    grid-column: 1 / span 8;
    margin: auto;
    width: 100%;
    padding: 20px 10px 0px 10px;
  }
  .explanation h3 {
    text-align: center;
    background-color: $color-5;
    color: $color-1;
    margin: 20px 15% 0% 15%;
  }
  .explanation p:nth-child(2) {
    background-color: $color-4;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%;
  }
  .explanation p:nth-child(3) {
    background-color: $color-4;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%;
  }
  #zen-participation {
    grid-row: 5;
    grid-column: 1 / span 8;
    margin: auto;
    width: 100%;
    padding: 20px 10px 0px 10px;
  }
  .participation h3 {
    text-align: center;
    background-color: $color-5;
    color: $color-1;
    margin: 20px 15% 0% 15%;
  }
  .participation p:nth-child(2) {
    background-color: $color-4;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%;
  }
  .participation p:nth-child(3) {
    background-color: $color-4;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%;
  }
  .participation p:nth-child(4) {
    background-color: $color-4;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%;
  }
  #zen-requirements {
    grid-row: 6;
    grid-column: 1 / span 8;
    margin: auto;
    width: 100%;
    padding: 20px 10px 0px 10px;
  }
  .requirements h3 {
    text-align: center;
    background-color: $color-5;
    color: $color-1;
    margin: 20px 15% 0% 15%;
  }
  .requirements p:nth-child(2) {
    background-color: $color-4;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%;
  }
  .requirements p:nth-child(3) {
    background-color: $color-4;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%;
  }
  .requirements p:nth-child(4) {
    background-color: $color-4;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%;
  }
  .requirements p:nth-child(5) {
    background-color: $color-4;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%;
  }
  .requirements p:nth-child(6) {
    background-color: $color-4;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%;
  }
  #zen-benefits {
    grid-row: 7;
    grid-column: 1 / span 8;
    margin: auto;
    width: 100%;
    padding: 20px 10px 20px 10px;
  }
  .benefits h3 {
    text-align: center;
    background-color: $color-5;
    color: $color-1;
    margin: 20px 15% 0% 15%;
  }
  .benefits p:nth-child(2) {
    background-color: $color-4;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%;
  }
  footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    grid-row: 8;
    grid-column: 1 / span 8;
    border: 3px solid green;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
  }
}

