// Variables
$left-margin: 10px;
$right-margin: 10px;

.page-wrapper {
  // background-image: linear-gradient(to bottom, $color-3, $color-1);
}

.main {
  background: linear-gradient(to bottom, $color-5 0%,$color-3 100%,);
  height: 100%;
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(8, auto);
}


//
//Desktop view
//
@media screen and (min-width: $M) {
/* specific divs */
  #zen-preamble {
    grid-row: 3;
    grid-column: 1 / span 8;
    margin: 0;
    width: 100%;
    color: $color-3;
    background-color: #135589;
	  position: relative;
  }

   #zen-preamble::before {
    position: absolute;
    content: '';
    top: -30px;
    height: 70px;
    width: 100%;
    background-size: 120px 130px;
    background-position: -5px -3px;
    background-image: -webkit-radial-gradient(50% 0%, circle, #edfafd 50%, transparent 50%);
    background-image: -moz-radial-gradient(50% 0%, circle, #edfafd 50%, transparent 50%);
    background-image: radial-gradient(circle at 50% 0%,  #edfafd 50%, transparent 50%);
  }


  #zen-preamble h3 {
    text-align: left;
    padding: 20px 10px 0px 18px;
    color: $color-3;
  }
  .preamble p:nth-child(2) {
    padding: 5px 20px 0px 15px;
  }
  .preamble p:nth-child(3) {
    padding: 5px 20px 0px 15px;
  }
  .preamble p:nth-child(4) {
    padding: 5px 20px 10px 15px;
  }

  #zen-explanation {
    grid-row: 4 / span 10;
    grid-column: 1;
    grid-column-end: span 2;
    // border: 3px solid green;
    border-radius: 30px;
    padding: 10px;
    margin-left: $left-margin;
    margin-right: $right-margin;
    background-color: hsla(180, 60%, 95%, .5);

  }
  .explanation h3 {
    text-align: center;
  }
  #zen-participation {
    grid-row-start: 4;
    grid-row-end: span 9;
    grid-column: 3;
    grid-column-end: span 2;
    // border: 3px solid green;
    border-radius: 30px;
    padding: 10px;
    margin-left: $left-margin;
    margin-right: $right-margin;
    background-color: hsla(180, 60%, 95%, .5);
  }
  .participation h3 {
    text-align: center;
  }
  #zen-requirements {
    grid-row-start: 4;
    grid-row-end: span 15;
    grid-column: 6;
    grid-column-end: span 2;
    // border: 3px solid green;
    border-radius: 30px;
    padding: 10px;
    margin-left: $left-margin;
    margin-right: $right-margin;
    background-color: hsla(180, 60%, 95%, .5);
  }
  .requirements h3 {
    text-align: center;
  }
  #zen-benefits {
    grid-row-start: 14;
    grid-row-end: span 5;
    grid-column: 1;
    grid-column-end: span 2;
    // border: 3px solid green;
    border-radius: 30px;
    padding: 20px;
    margin-left: $left-margin;
    margin-right: $right-margin;
    background-color: hsla(180, 60%, 95%, .5);
  }
  .benefits h3 {
    text-align: center;
  }
 footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    grid-row: 19;
    grid-column: 1 / span 8;
    position: relative;
    padding: 10px;
    margin: 200px 0 0 0;
    background-color: $color-8;
    z-index:1;
  }
  footer::before {
    background-color: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    -webkit-backface-visibility: hidden;
    z-index: -1;
  }

  footer::before {
  top: 0;
  -webkit-transform: skewY(2.5deg);
          transform: skewY(2.5deg);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}
}





//
//mobile View
//
@media screen and (max-width: $M) {
  .main {
    background: linear-gradient(to bottom, $color-5 0%,$color-3 100%,);
  }

  #zen-preamble {
    grid-row: 3;
    grid-column: 1 / span 8;
    margin: auto;
    width: 100%;
    padding: 20px 10px 0px 10px;
    background-color: $color-5;
  }
  #zen-preamble h3 {
    text-align: center;
    // background-color: $color-5;
    color: $color-4;
    margin: 20px 15% 0% 15%;
  }
  .preamble p:nth-child(2) {
    // background-color: $color-4;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%;
  }
  .preamble p:nth-child(3) {
    // background-color: $color-4;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%;
  }
  .preamble p:nth-child(4) {
    // background-color: $color-4;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%;
  }
  #zen-explanation {
    grid-row: 4;
    grid-column: 1 / span 8;
    margin: auto;
    width: 100%;
    padding: 5em, auto 5em auto;
    background-color: hsla(180, 40%, 100%, .2);
  }
  .explanation h3 {
    text-align: center;
    // background-color: $color-5;
    color: $color-2;
    margin: 20px 15% 0% 15%;
  }
  .explanation p:nth-child(2) {
    // background-color: $color-;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%;
  }
  .explanation p:nth-child(3) {
    background-color: $color-4;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%;
  }
  #zen-participation {
    grid-row: 5;
    grid-column: 1 / span 8;
    margin: auto;
    width: 100%;
    padding: 20px 10px 0px 10px;
    background-color: hsla(180, 60%, 95%, .5);
  }
  .participation h3 {
    text-align: center;
    background-color: $color-5;
    color: $color-1;
    margin: 20px 15% 0% 15%;
    background-color: hsla(180, 60%, 95%, .5);
  }
  .participation p:nth-child(2) {
    background-color: $color-4;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%;
  }
  .participation p:nth-child(3) {
    background-color: $color-4;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%;
  }
  .participation p:nth-child(4) {
    background-color: $color-4;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%;
  }
  #zen-requirements {
    grid-row: 6;
    grid-column: 1 / span 8;
    margin: auto;
    width: 100%;
    padding: 20px 10px 0px 10px;
  }
  .requirements h3 {
    text-align: center;
    background-color: $color-5;
    color: $color-1;
    margin: 20px 15% 0% 15%;
  }
  .requirements p:nth-child(2) {
    background-color: $color-4;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%;
  }
  .requirements p:nth-child(3) {
    background-color: $color-4;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%;
  }
  .requirements p:nth-child(4) {
    background-color: $color-4;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%;
  }
  .requirements p:nth-child(5) {
    background-color: $color-4;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%;
  }
  .requirements p:nth-child(6) {
    background-color: $color-4;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%;
  }
  #zen-benefits {
    grid-row: 7;
    grid-column: 1 / span 8;
    margin: auto;
    width: 100%;
    padding: 20px 10px 20px 10px;
  }
  .benefits h3 {
    text-align: center;
    background-color: $color-5;
    color: $color-1;
    margin: 20px 15% 0% 15%;
  }
  .benefits p:nth-child(2) {
    background-color: $color-4;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%;
  }
  footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    grid-row: 8;
    grid-column: 1 / span 8;
    // border: 3px solid green;
    // border-radius: 10px;
    padding: 10px;
    margin: 5px 0 0 ;
    background-color: $color-8;
  }
    //transparent h1 and h2
    h2 abbr{
        color:transparent;
    }
    header h1{
        color: transparent;
    }
}
