.sidebar {
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
  background-image: linear-gradient(to bottom, $color-8, $color-9);
}

.wrapper {
  display: grid;
  grid-column: 1 / 9;
  grid-row: 1 / 4;
  grid-template-columns: repeat(3, auto);
  justify-content: space-evenly;
  width: 98.5%;
  height: 100%;
  margin: 0 auto;
  margin: 5px;
}

.wrapper h3 {
  color:  #135589;
}


.select, .archives, .resources {
  margin-left: 35px; }



/* media query for mobile phone */
@media only screen and (max-width: 768px) {
  .sidebar, .wrapper {
    margin-right: 5px;
  }

 .sidebar {
    background: $color-1;
  }

.wrapper {
    display: block;
    text-align: center; }

  .design-selection, .design-archives, .zen-resources {
    padding-right: 30px; } }
