/* --------------------------------

xBackground

-------------------------------- */
body {
  /* this is the page background */
  background-color: none; }

/* --------------------------------

xNavigation

-------------------------------- */
/* --------------------------------

xTypography

-------------------------------- */
h1, h2 {
  font-family: 'Original Surfer', cursive;
  color: black; }

h1 {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 .4em; }

h2 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0; }

h3 {
  font: italic normal 1.4em surfer, sans-serif;
  letter-spacing: 1px;
  margin-bottom: 0;
  color: #7D775C; }

p {
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
  line-height: 1.4; }

a {
  color: cadetblue;
  text-decoration: underline; }

/* --------------------------------

xBasic Style

-------------------------------- */
/* basic elements */
html {
  margin: 0;
  padding: 0; }

body {
  font: 75% railway, sans-serif;
  line-height: 1.88889;
  color: #555753;
  margin: 0;
  padding: 0; }

p {
  margin-top: 0; }

a:link {
  font-weight: bold;
  text-decoration: none;
  color: #B7A5DF; }

a:visited {
  font-weight: bold;
  text-decoration: none;
  color: #D4CDDC; }

a:hover, a:focus, a:active {
  text-decoration: underline;
  color: #9685BA; }

abbr {
  border-bottom: none; }

.main {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(50, auto); }

.intro {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(5, auto);
  background-color: #EDFAFD; }

@media screen and (max-width: 767.5px) {
  #zen-intro header {
    grid-column-start: 1;
    grid-column-end: span 8;
    border: 3px solid purple;
    border-radius: 10px; }

  header h1 {
    grid-column: span 1/8;
    border: 3px solid purple;
    border-radius: 10px; }

  header h2 {
    grid-column: span 1/8;
    border: 3px solid purple;
    border-radius: 10px; }

  #zen-summary {
    grid-row-start: 3;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: span 6;
    border: 3px solid purple;
    border-radius: 10px;
    text-align: center; } }
@media screen and (min-width: 768px) {
  /* specific divs */
  #zen-intro header {
    grid-column-start: 1;
    grid-column-end: span 8;
    border: 3px solid purple;
    border-radius: 10px; }

  header h1 {
    height: 3em;
    width: 30%;
    margin: 5% 5% 0% 15%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid purple;
    border-radius: 10px; }

  header h2 {
    height: 3em;
    width: 30%;
    margin: 0% 5% 5% 30%;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid purple;
    border-radius: 10px; }

  #zen-summary {
    grid-row-start: 3;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: span 6;
    border: 3px solid purple;
    border-radius: 10px;
    text-align: center; } }
.main {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(50, auto); }

@media screen and (min-width: 768px) {
  /* specific divs */
  #zen-preamble {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: span 8;
    border: 3px solid green;
    border-radius: 10px;
    padding: 10px;
    margin: 5px; }

  #zen-explanation {
    grid-row-start: 4;
    grid-row-end: span 10;
    grid-column: 1;
    grid-column-end: span 2;
    border: 3px solid green;
    border-radius: 10px;
    padding: 10px;
    margin: 5px; }

  #zen-participation {
    grid-row-start: 4;
    grid-row-end: span 9;
    grid-column: 3;
    grid-column-end: span 2;
    border: 3px solid green;
    border-radius: 10px;
    padding: 10px;
    margin: 5px; }

  #zen-requirements {
    grid-row-start: 4;
    grid-row-end: span 15;
    grid-column: 6;
    grid-column-end: span 2;
    border: 3px solid green;
    border-radius: 10px;
    padding: 10px;
    margin: 5px; }

  #zen-benefits {
    grid-row-start: 14;
    grid-row-end: span 5;
    grid-column: 1;
    grid-column-end: span 2;
    border: 3px solid green;
    border-radius: 10px;
    padding: 10px;
    margin: 5px; } }
@media screen and (max-width: 767.5px) {
  #zen-intro header {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: span 8; }

  #zen-summary {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: span 8; }

  #zen-preamble {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: span 8;
    border: 3px solid green;
    border-radius: 10px;
    padding: 10px;
    margin: 5px; }

  #zen-explanation {
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column: 1;
    grid-column-end: span 8;
    border: 3px solid green;
    border-radius: 10px;
    padding: 10px;
    margin: 5px; }

  #zen-participation {
    grid-row-start: 5;
    grid-row-end: 5;
    grid-column: 1;
    grid-column-end: span 8;
    border: 3px solid green;
    border-radius: 10px;
    padding: 10px;
    margin: 5px; }

  #zen-requirements {
    grid-row-start: 6;
    grid-row-end: 6;
    grid-column: 1;
    grid-column-end: span 8;
    border: 3px solid green;
    border-radius: 10px;
    padding: 10px;
    margin: 5px; }

  #zen-benefits {
    grid-row-start: 7;
    grid-row-end: 7;
    grid-column: 1;
    grid-column-end: span 8;
    border: 3px solid green;
    border-radius: 10px;
    padding: 10px;
    margin: 5px; } }
.sidebar {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(50, auto); }

.wrapper {
  font-family: 'Raleway', sans-serif;
  grid-column: 1 / span 8;
  grid-row: 36 / span 50;
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border: 5px solid blue; }

.select, .archives, .resources {
  margin-left: 25px; }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  text-align: center;
  line-height: 70px; }

footer a {
  padding: 80px; }

/* media query for mobile phone */
@media only screen and (max-width: 768px) {
  .sidebar, .wrapper, footer {
    width: 100%; }

  .wrapper, footer a {
    display: block;
    text-align: center; }

  .design-selection, .design-archives, .zen-resources {
    padding-right: 30px; } }

/*# sourceMappingURL=style.css.map */
