@import url("https://fonts.googleapis.com/css?family=Original+Surfer|Raleway");
h1, h2 {
  font-family: "Original Surfer", cursive; }

h1 {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 .4em;
  color: #135589; }

h2 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0;
  color: #ff6435; }

h3 {
  font-family: "Original Surfer", cursive;
  font-size: 2em;
  letter-spacing: 1px;
  margin-bottom: 0;
  color: #135589; }

h2 abbr {
  font-family: "Original Surfer", cursive;
  color: #ff6435;
  font-size: 3rem;
  padding-left: .5em;
  padding-right: .5em; }

abbr {
  text-decoration: none; }

p {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.2; }

.summary {
  color: #135589; }

.summary > p > a:link {
  text-transform: uppercase; }

div > p > a:link {
  color: #135589; }

div > p > a:hover {
  color: #2a93d5;
  text-decoration: none; }

.preamble {
  color: #2a93d5; }
  .preamble h3 {
    color: #2a93d5; }

.explanation, .participation, .benefits, .requirements {
  color: #135589; }

footer a:link {
  color: #135589;
  font-size: 1rem;
  border-radius: 10px;
  padding: 5px; }
footer a:hover {
  color: #2a93d5;
  text-decoration: none; }
footer a:visited {
  color: #3ddad7;
  text-decoration: none; }

aside {
  color: #135589; }
  aside h3 {
    color: #135589; }
  aside li {
    list-style: none; }

ul a:link {
  color: #135589; }
ul a:hover {
  color: #ff6435;
  text-decoration: none; }
ul a:visited {
  color: #135589;
  text-decoration: none; }

/* basic elements */
html {
  margin: 0;
  padding: 0; }

body {
  font: 75% railway, sans-serif;
  line-height: 1.88889;
  color: #555753;
  margin: 0;
  padding: 0; }

p {
  margin-top: 0; }

a:link {
  font-weight: bold;
  text-decoration: none;
  color: #B7A5DF; }

a:visited {
  font-weight: bold;
  text-decoration: none;
  color: #D4CDDC; }

a:hover,
a:focus,
a:active {
  text-decoration: underline;
  color: #9685BA; }

abbr {
  border-bottom: none; }

footer a {
  margin-top: 50px; }

.intro {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(5, auto);
  background-color: #edfafd; }

@media screen and (max-width: 768px) {
  #zen-intro header {
    grid-column-start: 2;
    grid-column-end: span 8; }

  header h1 {
    grid-column-start: 3;
    grid-column-end: 6;
    color: transparent; }

  header h2 {
    grid-column: span 1/8;
    color: transparent; }

  #zen-summary {
    grid-row-start: 3;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: span 6;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding-top: 300px; }

  .summary {
    width: 300px; } }
@media screen and (min-width: 768px) {
  /* specific divs */
  #zen-intro header {
    grid-column-start: 1;
    grid-column-end: span 8; }

  header h1 {
    height: 3em;
    width: 30%;
    margin: 5% 5% 0% 15%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    border-radius: 40px;
    color: transparent; }

  header h2 {
    height: 3em;
    width: 60%;
    margin: 0% 5% 5% 30%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    color: transparent; }

  #zen-summary {
    grid-row-start: 3;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: span 4;
    text-align: center;
    padding-left: 440px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding-top: 30px; } }
.main {
  background: linear-gradient(to bottom, #135589 0%, #3ddad7 100%);
  height: 100%;
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(8, auto); }

@media screen and (min-width: 768px) {
  /* specific divs */
  #zen-preamble {
    grid-row: 3;
    grid-column: 1 / span 8;
    margin: 0;
    width: 100%;
    color: #3ddad7;
    background-color: #135589; }

  #zen-preamble h3 {
    text-align: left;
    padding: 20px 10px 0px 18px;
    color: #3ddad7; }

  .preamble p:nth-child(2) {
    padding: 5px 20px 0px 15px; }

  .preamble p:nth-child(3) {
    padding: 5px 20px 0px 15px; }

  .preamble p:nth-child(4) {
    padding: 5px 20px 10px 15px; }

  #zen-explanation {
    grid-row: 4 / span 10;
    grid-column: 1;
    grid-column-end: span 2;
    border-radius: 30px;
    padding: 10px;
    margin: 15px;
    background-color: rgba(235, 250, 250, 0.5); }

  .explanation h3 {
    text-align: center; }

  #zen-participation {
    grid-row-start: 4;
    grid-row-end: span 9;
    grid-column: 3;
    grid-column-end: span 2;
    border-radius: 30px;
    padding: 10px;
    margin: 15px;
    background-color: rgba(235, 250, 250, 0.5); }

  .participation h3 {
    text-align: center; }

  #zen-requirements {
    grid-row-start: 4;
    grid-row-end: span 15;
    grid-column: 6;
    grid-column-end: span 2;
    border-radius: 30px;
    padding: 10px;
    margin: 15px;
    background-color: rgba(235, 250, 250, 0.5); }

  .requirements h3 {
    text-align: center; }

  #zen-benefits {
    grid-row-start: 14;
    grid-row-end: span 5;
    grid-column: 1;
    grid-column-end: span 2;
    border-radius: 30px;
    padding: 10px;
    margin: 15px;
    background-color: rgba(235, 250, 250, 0.5); }

  .benefits h3 {
    text-align: center; }

  footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    grid-row: 19;
    grid-column: 1 / span 8;
    position: relative;
    padding: 10px;
    margin: 200px 0 0 0;
    background-color: #B7B089;
    z-index: 1; }

  footer::before {
    background-color: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    -webkit-backface-visibility: hidden;
    z-index: -1; }

  footer::before {
    top: 0;
    -webkit-transform: skewY(2.5deg);
    transform: skewY(2.5deg);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0; } }
@media screen and (max-width: 768px) {
  .main {
    background: linear-gradient(to bottom, #135589 0%, #3ddad7 100%); }

  #zen-preamble {
    grid-row: 3;
    grid-column: 1 / span 8;
    margin: auto;
    width: 100%;
    padding: 20px 10px 0px 10px;
    background-color: #135589; }

  #zen-preamble h3 {
    text-align: center;
    color: #2a93d5;
    margin: 20px 15% 0% 15%; }

  .preamble p:nth-child(2) {
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%; }

  .preamble p:nth-child(3) {
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%; }

  .preamble p:nth-child(4) {
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%; }

  #zen-explanation {
    grid-row: 4;
    grid-column: 1 / span 8;
    margin: auto;
    width: 100%;
    padding: 5em, auto 5em auto;
    background-color: rgba(255, 255, 255, 0.2); }

  .explanation h3 {
    text-align: center;
    color: #aed9da;
    margin: 20px 15% 0% 15%; }

  .explanation p:nth-child(2) {
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%; }

  .explanation p:nth-child(3) {
    background-color: #2a93d5;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%; }

  #zen-participation {
    grid-row: 5;
    grid-column: 1 / span 8;
    margin: auto;
    width: 100%;
    padding: 20px 10px 0px 10px;
    background-color: rgba(235, 250, 250, 0.5); }

  .participation h3 {
    text-align: center;
    background-color: #135589;
    color: #edfafd;
    margin: 20px 15% 0% 15%;
    background-color: rgba(235, 250, 250, 0.5); }

  .participation p:nth-child(2) {
    background-color: #2a93d5;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%; }

  .participation p:nth-child(3) {
    background-color: #2a93d5;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%; }

  .participation p:nth-child(4) {
    background-color: #2a93d5;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%; }

  #zen-requirements {
    grid-row: 6;
    grid-column: 1 / span 8;
    margin: auto;
    width: 100%;
    padding: 20px 10px 0px 10px; }

  .requirements h3 {
    text-align: center;
    background-color: #135589;
    color: #edfafd;
    margin: 20px 15% 0% 15%; }

  .requirements p:nth-child(2) {
    background-color: #2a93d5;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%; }

  .requirements p:nth-child(3) {
    background-color: #2a93d5;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%; }

  .requirements p:nth-child(4) {
    background-color: #2a93d5;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%; }

  .requirements p:nth-child(5) {
    background-color: #2a93d5;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%; }

  .requirements p:nth-child(6) {
    background-color: #2a93d5;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%; }

  #zen-benefits {
    grid-row: 7;
    grid-column: 1 / span 8;
    margin: auto;
    width: 100%;
    padding: 20px 10px 20px 10px; }

  .benefits h3 {
    text-align: center;
    background-color: #135589;
    color: #edfafd;
    margin: 20px 15% 0% 15%; }

  .benefits p:nth-child(2) {
    background-color: #2a93d5;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%; }

  footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    grid-row: 8;
    grid-column: 1 / span 8;
    padding: 10px;
    margin: 5px 0 0;
    background-color: #B7B089; }

  h2 abbr {
    color: transparent; }

  header h1 {
    color: transparent; } }
.sidebar {
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
  background-image: linear-gradient(to bottom, #B7B089, #5C5845); }

.wrapper {
  display: grid;
  grid-column: 1 / 9;
  grid-row: 1 / 4;
  grid-template-columns: repeat(4, auto);
  justify-content: space-evenly;
  width: 98.5%;
  height: 100%;
  margin: 0 auto;
  margin: 5px; }

.wrapper h3 {
  color: #135589; }

.select, .archives, .resources {
  margin-left: 35px; }

/* media query for mobile phone */
@media only screen and (max-width: 768px) {
  .sidebar, .wrapper {
    margin-right: 5px; }

  .sidebar {
    background: #edfafd; }

  .wrapper {
    display: block;
    text-align: center; }

  .design-selection, .design-archives, .zen-resources {
    padding-right: 30px; } }
h2 abbr {
  color: transparent; }

footer a {
  width: 100px;
  height: 100px;
  background-image: url("./icons/seashell.svg");
  background-repeat: no-repeat; }
footer a {
  display: flex;
  justify-content: center;
  align-items: center; }
footer a:hover {
  transform-origin: 50% 50%;
  animation: 1s main 1; }

@keyframes main {
  0% {
    transform: rotate(35deg); }
  25% {
    transform: rotate(-35deg); }
  50% {
    transform: rotate(45deg); }
  75% {
    transform: rotate(-45deg); }
  100% {
    transform: rotate(0deg); } }
.summary {
  width: 500px;
  height: 250px;
  background-image: url("./icons/kite.svg");
  background-repeat: no-repeat;
  background-position: cover; }

.extra1 {
  width: 200px;
  height: 200px;
  background-image: url("./icons/fish-01.svg");
  background-repeat: no-repeat;
  margin-top: -700px;
  margin-left: 400px; }

.extra2 {
  width: 200px;
  height: 200px;
  background-image: url("./icons/boat.svg");
  background-repeat: no-repeat;
  margin-top: -1100px;
  margin-left: 1200px; }

.extra3 {
  width: 300px;
  height: 250px;
  background-image: url("./icons/fish-02.svg");
  background-repeat: no-repeat;
  margin-top: 700px;
  margin-left: 700px; }

header h1 {
  width: 800px;
  height: 300px;
  background-image: url("./icons/cloud.svg");
  background-repeat: no-repeat;
  filter: drop-shadow(0 0 8px #C7C7C7); }

header h2 {
  width: 1300px;
  height: 500px;
  background-image: url("./icons/cloud-2.svg");
  background-repeat: no-repeat; }

body:hover header h1 {
  transform: translateX(450px);
  -webkit-transform: translatex(450px); }

header h1 {
  transition: all 4s linear;
  margin-left: -150px;
  margin-top: -20px; }

header h2 {
  transition: all 4s linear;
  margin-left: 850px;
  margin-top: -250px; }

body:hover header h2 {
  transform: translateX(-350px);
  -webkit-transform: translatex(-350px); }

@media screen and (max-width: 768px) {
  header h2 {
    margin-left: 50vw;
    margin-top: -170px;
    height: 300px;
    transition: all 1s linear; }

  body:hover header h2 {
    transform: translateX(-100px);
    -webkit-transform: translatex(-100px); }

  header h1 {
    margin-left: -10vh;
    transition: all 1s linear; }

  body:hover header h1 {
    transform: translateX(100px);
    -webkit-transform: translatex(100px); } }
body {
  /* this is the page background */
  background-color: none; }

/*# sourceMappingURL=style.css.map */
