/* ---------------------------------

Variables

----------------------------------- */
/* --------------------------------

xBackground

-------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Original+Surfer|Raleway");
body {
  /* this is the page background */
  background-color: none; }

/* --------------------------------

xNavigation

-------------------------------- */
/* --------------------------------

xTypography

-------------------------------- */
h1, h2 {
  font-family: "Original Surfer", cursive; }

h1 {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 .4em;
  color: #135589; }

h2 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0;
  color: #ff6435; }

h3 {
  font-family: "Original Surfer", cursive;
  font-size: 2em;
  letter-spacing: 1px;
  margin-bottom: 0;
  color: #135589; }

h2 abbr {
  font-family: "Original Surfer", cursive;
  color: #ff6435;
  font-size: 3rem; }

abbr {
  text-decoration: none; }

p {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.2; }

.summary {
  color: #135589; }

.summary > p > a:link {
  text-transform: uppercase; }

div > p > a:link {
  color: #135589; }

div > p > a:hover {
  color: #2a93d5;
  text-decoration: none; }

.preamble {
  color: #3ddad7; }
  .preamble h3 {
    color: #3ddad7; }

.explanation, .participation, .benefits, .requirements {
  color: #135589; }

footer a:link {
  color: #135589;
  font-size: 1rem;
  background-color: #ff6435;
  border-radius: 10px;
  padding: 5px; }
footer a:hover {
  color: #2a93d5;
  text-decoration: none; }
footer a:visited {
  color: #3ddad7;
  text-decoration: none; }

aside {
  color: #3ddad7; }
  aside h3 {
    color: #3ddad7; }
  aside li {
    list-style: none; }

ul a:link {
  color: #3ddad7; }
ul a:hover {
  color: #2a93d5;
  text-decoration: none; }
ul a:visited {
  color: #ff6435;
  text-decoration: none; }

/* --------------------------------

xBasic Style

-------------------------------- */
/* basic elements */
html {
  margin: 0;
  padding: 0; }

body {
  font: 75% railway, sans-serif;
  line-height: 1.88889;
  color: #555753;
  margin: 0;
  padding: 0; }

p {
  margin-top: 0; }

a:link {
  font-weight: bold;
  text-decoration: none;
  color: #B7A5DF; }

a:visited {
  font-weight: bold;
  text-decoration: none;
  color: #D4CDDC; }

a:hover, a:focus, a:active {
  text-decoration: underline;
  color: #9685BA; }

abbr {
  border-bottom: none; }

.intro {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(5, auto);
  background-color: #EDFAFD; }

@media screen and (max-width: 768px) {
  #zen-intro header {
    grid-column-start: 1;
    grid-column-end: span 8;
    border: 3px solid purple;
    border-radius: 10px; }

  header h1 {
    grid-column: span 1/8;
    border: 3px solid purple;
    border-radius: 10px; }

  header h2 {
    grid-column: span 1/8;
    border: 3px solid purple;
    border-radius: 10px; }

  #zen-summary {
    grid-row-start: 3;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: span 6;
    border: 3px solid purple;
    border-radius: 10px;
    text-align: center; } }
@media screen and (min-width: 768px) {
  /* specific divs */
  #zen-intro header {
    grid-column-start: 1;
    grid-column-end: span 8;
    border: 3px solid purple;
    border-radius: 10px; }

  header h1 {
    height: 3em;
    width: 30%;
    margin: 5% 5% 0% 15%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid purple;
    border-radius: 10px; }

  header h2 {
    height: 3em;
    width: 30%;
    margin: 0% 5% 5% 30%;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid purple;
    border-radius: 10px; }

  #zen-summary {
    grid-row-start: 3;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: span 6;
    border: 3px solid purple;
    border-radius: 10px;
    text-align: center; } }
.page-wrapper {
  background-image: linear-gradient(to bottom, #3ddad7, #edfafd); }

.main {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(8, auto); }

@media screen and (min-width: 768px) {
  /* specific divs */
  #zen-preamble {
    grid-row: 3;
    grid-column: 1 / span 8;
    margin: 0;
    width: 100%;
    color: #3ddad7;
    background-color: #2a93d5; }

  #zen-preamble h3 {
    text-align: left;
    padding: 20px 10px 0px 18px; }

  .preamble p:nth-child(2) {
    padding: 5px 20px 0px 15px; }

  .preamble p:nth-child(3) {
    padding: 5px 20px 0px 15px; }

  .preamble p:nth-child(4) {
    padding: 5px 20px 10px 15px; }

  #zen-explanation {
    grid-row: 4 / span 10;
    grid-column: 1;
    grid-column-end: span 2;
    border: 3px solid green;
    border-radius: 30px;
    padding: 10px;
    margin: 5px; }

  .explanation h3 {
    text-align: center; }

  #zen-participation {
    grid-row-start: 4;
    grid-row-end: span 9;
    grid-column: 3;
    grid-column-end: span 2;
    border: 3px solid green;
    border-radius: 30px;
    padding: 10px;
    margin: 5px; }

  .participation h3 {
    text-align: center; }

  #zen-requirements {
    grid-row-start: 4;
    grid-row-end: span 15;
    grid-column: 6;
    grid-column-end: span 2;
    border: 3px solid green;
    border-radius: 30px;
    padding: 10px;
    margin: 5px; }

  .requirements h3 {
    text-align: center; }

  #zen-benefits {
    grid-row-start: 14;
    grid-row-end: span 5;
    grid-column: 1;
    grid-column-end: span 2;
    border: 3px solid green;
    border-radius: 30px;
    padding: 10px;
    margin: 5px; }

  .benefits h3 {
    text-align: center; }

  footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    grid-row: 19;
    grid-column: 1 / span 8;
    border: 3px solid green;
    border-radius: 10px;
    padding: 10px;
    margin: 5px; } }
@media screen and (max-width: 768px) {
  #zen-preamble {
    grid-row: 3;
    grid-column: 1 / span 8;
    margin: auto;
    width: 100%;
    padding: 20px 10px 0px 10px; }

  #zen-preamble h3 {
    text-align: center;
    background-color: #135589;
    color: #aed9da;
    margin: 20px 15% 0% 15%; }

  .preamble p:nth-child(2) {
    background-color: #2a93d5;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%; }

  .preamble p:nth-child(3) {
    background-color: #2a93d5;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%; }

  .preamble p:nth-child(4) {
    background-color: #2a93d5;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%; }

  #zen-explanation {
    grid-row: 4;
    grid-column: 1 / span 8;
    margin: auto;
    width: 100%;
    padding: 20px 10px 0px 10px; }

  .explanation h3 {
    text-align: center;
    background-color: #135589;
    color: #edfafd;
    margin: 20px 15% 0% 15%; }

  .explanation p:nth-child(2) {
    background-color: #2a93d5;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%; }

  .explanation p:nth-child(3) {
    background-color: #2a93d5;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%; }

  #zen-participation {
    grid-row: 5;
    grid-column: 1 / span 8;
    margin: auto;
    width: 100%;
    padding: 20px 10px 0px 10px; }

  .participation h3 {
    text-align: center;
    background-color: #135589;
    color: #edfafd;
    margin: 20px 15% 0% 15%; }

  .participation p:nth-child(2) {
    background-color: #2a93d5;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%; }

  .participation p:nth-child(3) {
    background-color: #2a93d5;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%; }

  .participation p:nth-child(4) {
    background-color: #2a93d5;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%; }

  #zen-requirements {
    grid-row: 6;
    grid-column: 1 / span 8;
    margin: auto;
    width: 100%;
    padding: 20px 10px 0px 10px; }

  .requirements h3 {
    text-align: center;
    background-color: #135589;
    color: #edfafd;
    margin: 20px 15% 0% 15%; }

  .requirements p:nth-child(2) {
    background-color: #2a93d5;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%; }

  .requirements p:nth-child(3) {
    background-color: #2a93d5;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%; }

  .requirements p:nth-child(4) {
    background-color: #2a93d5;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%; }

  .requirements p:nth-child(5) {
    background-color: #2a93d5;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%; }

  .requirements p:nth-child(6) {
    background-color: #2a93d5;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%; }

  #zen-benefits {
    grid-row: 7;
    grid-column: 1 / span 8;
    margin: auto;
    width: 100%;
    padding: 20px 10px 20px 10px; }

  .benefits h3 {
    text-align: center;
    background-color: #135589;
    color: #edfafd;
    margin: 20px 15% 0% 15%; }

  .benefits p:nth-child(2) {
    background-color: #2a93d5;
    padding: 5px 20px 5px 20px;
    margin: 0% 5% 0% 5%; }

  footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    grid-row: 8;
    grid-column: 1 / span 8;
    border: 3px solid green;
    border-radius: 10px;
    padding: 10px;
    margin: 5px; } }
.sidebar {
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(3, 1fr);
  height: 100%; }

.wrapper {
  grid-column: 1 / 9;
  grid-row: 1 / 4;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-evenly;
  width: 98.5%;
  height: 100%;
  margin: 0 auto;
  border: 3px solid blue;
  border-radius: 10px;
  margin: 5px; }

.select, .archives, .resources {
  margin-left: 35px; }

/* media query for mobile phone */
@media only screen and (max-width: 768px) {
  .sidebar, .wrapper {
    margin-right: 5px; }

  .wrapper {
    display: block;
    text-align: center; }

  .design-selection, .design-archives, .zen-resources {
    padding-right: 30px; } }
body {
  background-image: url("/zengarden.github.io/icons/sun.svg"); }

/*# sourceMappingURL=style.css.map */
