
$color-1: #edfafd; // Cornflower Blue - Action color
$color-2: #aed9da; // Dark Blue
$color-3: #3ddad7; // Red
$color-4: #2a93d5; // light grey
$color-5: #135589; // white
$color-6: #ff6435; // starfish

// additional colors

$success: #6fce72; // green
$alert: $color-3;  // red
